body{
    margin: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffff;
    display: inline-flex;
    flex-direction: row;
}

.image {
    background:linear-gradient(0deg, rgba(17, 17, 17, 0.25) 0%, rgba(17, 17, 17, 0.25) 100%), url(./images/pxfuel1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 720px; 
    height: 1024px;
    flex-direction: column; 
    position: relative; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex;
    left: 0px;
    top: 0px;
}

.Headline-Subhead{
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 16px; 
    display: inline-flex; 

    margin-top: 182px; 
    margin-left: 72px; 
    margin-right: 283px;
    font-family: Poppins;



}


.signIn{
    width: 720px; 
    height: 1024px; 
    position: relative; 
    flex-direction: column; 
    justify-content: space-evenly;    
    align-items: center;  
    display: inline-flex;
}

.signUpTop{
    padding: 2px; 
    justify-content: flex-end; 
    align-items: flex-end; 
    display:inline-flex;
    flex-direction: row; 
    font-size: regular; 
    font-family: Poppins;
    margin-right: 10px; 

   margin-top: 48px;
   margin-left: 423px;  
  

}

.header span{
    font-size: 16px; 
    font-family: Poppins; 
    font-weight: 400; 
    padding: 2px;
   

}

.LogIn{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
  
    display: inline-flex;
    margin-left: 76px; 
    margin-top: 90px;  
 


}


.continue{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 16px; 
    display: flex
}




.withGoogle {
    position: relative; 
    background-image: url('./images/pngwing.com.png');
    background-size: 40px 40px ; 
    background-repeat: no-repeat;
    background-position: 120px center; 
    width: 100%;
    height: 64px; 
    padding: 10px;
    background-color: white;
    border: 1px solid #333333;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: #333333; 
    font-size: 24px; 
    font-weight: 400; 
    word-wrap: break-word;
    font-family: Poppins;
}

.withTwitter {
    position: relative; 
    background-image: url('./images/pngegg.png');
    background-size: 40px 40px ; 
    background-repeat: no-repeat;
    background-position: 120px center; 
    width: 100%;
    height: 64px; 
    padding: 10px;
    background-color: white;
    border: 1px solid #333333;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: #333333; 
    font-size: 24px; 
    font-weight: 400; 
    word-wrap: break-word;
    font-family: Poppins;
}


.withGoogle:hover , .withTwitter:hover {
    background-color: #997825;
    color: white;
}



.OR{
    width: 568px; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 23px; 
    display: inline-flex;
    font-family: Poppins;
    
}

.divider{
    flex: 1 1 0; 
    height: 2px; 
    background: rgba(102, 102, 102, 0.25);
}

.form{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: flex
}

label{
    color: #666666; 
    font-size: 16px; 
    font-family: Poppins; 
    font-weight: 400; 
    word-wrap: break-word;
}

.email , .password{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: flex;
    padding-right: 369px; 
    display: inline-flex;
    width: 200px; 
    height: 56px; 
    position: relative; 
    border-radius: 12px; 
    border: 0.50px rgba(102, 102, 102, 0.35) solid;


}



.pass {
    display: flex;
    align-items: center;
    gap: 350px;
    
}

.hide-password {
    text-align: right;
    color: rgba(102, 102, 102, 0.80);
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
    position: absolute;
    right: 50px;
    cursor: pointer;

}

.hide-password i {
    font-size: 18px;
   margin-right: 10px;
    
}


.forgot{
    text-align: right; 
    color: #111111; 


    font-weight: 400; 
    text-decoration: underline;
    word-wrap: break-word;





    justify-content: flex-end; 
    align-items: flex-end; 
    display:inline-flex;
    flex-direction: row; 
    font-size:bold; 
    font-family: Poppins;
    margin-right: 10px; 

   margin-left: 390px;  

}

.button{
width: 304px; 
height: 64px; 
padding-top: 16.50px; 
padding-bottom: 17.50px; 
background: #997825; 
border-radius: 32px; 
justify-content: center; 
align-items: center; 
display: inline-flex;
text-align: center; 
color: white; 
font-size: 20px; 
font-family: Poppins; 
font-weight: 400; 
word-wrap: break-word;

}


.signUpBottom {
    padding: 2px; 
    justify-content: flex-end; 
    align-items: flex-end; 
    display:inline-flex;
    flex-direction: row; 
    font-size: regular; 
    font-family: Poppins;
    margin-right: 10px; 

  
  

}